/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

/* *********************
Global styles
********************* */

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Albert Sans', sans-serif;
  background: #fffae9;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  font-family: 'Albert Sans', sans-serif;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #191623;
}
/* *********************
Header styles
********************* */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__links {
  display: none;
}
.header__button__holder {
  margin-left: auto;
  margin-right: 2rem;
}
.header__button {
  display: none;
}
.header__toogle {
  margin-right: 2rem;
}
.header__toogle__button {
  display: block;
  color: #0b1f22;
  height: 2rem;
  width: 2rem;
}

/* Header responsive styles */
/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .header__links {
    display: flex;
    column-gap: 3rem;
    font-size: 1rem;
  }
  .header__button {
    display: block;
    background: #fd5d11;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .header__toogle__button {
    display: none;
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__links {
    display: flex;
    column-gap: 5rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}

/* *********************
Hero styles
********************* */
.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  column-gap: 5rem;
}
.hero__image1,
.hero__image3 {
  align-self: flex-start;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.hero__image2,
.hero__image4 {
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.hero__header {
  color: #191623;
  font-size: 7.75rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -2.48px;
  text-align: left;
  padding-top: 2rem;
}
.hero__text {
  color: #666270;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  padding-top: 2rem;
}
/* Hero responsive styles */
/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
Media queries ********************* */ .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
