/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

/* *********************
Global styles
********************* */

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Albert Sans', sans-serif;
  background: #fffae9;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  font-family: 'Albert Sans', sans-serif;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #191623;
}
/* *********************
Header styles
********************* */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__links {
  display: none;
}
.header__button__holder {
  margin-left: auto;
  margin-right: 2rem;
}
.header__button {
  display: none;
}
.header__toogle {
  margin-right: 2rem;
}
.header__toogle__button {
  display: block;
  color: #0b1f22;
  height: 2rem;
  width: 2rem;
}

/* Header responsive styles */
/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .header__links {
    display: flex;
    column-gap: 3rem;
    font-size: 1rem;
  }
  .header__button {
    display: block;
    background: #fd5d11;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .header__toogle__button {
    display: none;
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__links {
    display: flex;
    column-gap: 5rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}

/* *********************
Hero styles
********************* */

/* Hero responsive styles */
/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .hero__images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    column-gap: 1rem;
    /* margin-right: 10rem; */
  }
  .hero__image1 {
    display: none;
  }
  .hero__image1,
  .hero__image3 {
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .hero__image2,
  .hero__image4 {
    margin-top: 2rem;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .hero__text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
  }
  .hero__header {
    color: #191623;
    font-size: 4.75rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -2.48px;
    text-align: left;
    padding-top: 2rem;
  }
  .hero__text {
    color: #666270;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    padding-top: 2rem;
    padding-right: 1rem;
  }
  /* HERO CTA STYLES */
  .hero__cta__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .hero__cta {
    display: flex;
    column-gap: 1.5rem;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
  .hero__search__holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    border: 2px solid #d6d4dd;
    margin-left: 2rem;
  }
  .hero__search {
    border: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero__search::placeholder {
    padding: 1rem;
    width: 35rem;
    box-sizing: border-box;
  }
  .search__icon {
    padding-right: 2rem;
  }
  .hero__selector__holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    border: 2px solid #d6d4dd;
  }
  .hero__selector {
    border: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
  }
  .dropdown__icon {
    padding-right: 2rem;
  }
  .hero__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fd5d11;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .scroll__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5rem;
  }
  .scroll__down__text {
    color: #666270;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    column-gap: 3rem;
    /* margin-right: 10rem; */
  }
  .hero__image1 {
    display: block;
  }
  .hero__image1,
  .hero__image3 {
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .hero__image2,
  .hero__image4 {
    margin-top: 2rem;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .hero__text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
  }
  .hero__header {
    color: #191623;
    font-size: 6.75rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -2.48px;
    text-align: left;
    padding-top: 2rem;
  }
  .hero__text {
    color: #666270;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    padding-top: 2rem;
    padding-right: 0rem;
  }

  /* HERO CTA STYLES */
  .hero__cta__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .hero__cta {
    display: flex;
    column-gap: 4rem;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
  .hero__search__holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    border: 2px solid #d6d4dd;
    margin-left: 2rem;
  }
  .hero__search {
    border: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero__search::placeholder {
    padding: 1rem;
    width: 35rem;
    box-sizing: border-box;
  }
  .search__icon {
    padding-right: 2rem;
  }
  .hero__selector__holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    border: 2px solid #d6d4dd;
  }
  .hero__selector {
    border: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
  }
  .dropdown__icon {
    padding-right: 2rem;
  }
  .hero__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fd5d11;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .scroll__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5rem;
  }
  .scroll__down__text {
    color: #666270;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .hero__images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    column-gap: 5rem;
    /* margin-right: 10rem; */
  }
  .hero__image1,
  .hero__image3 {
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .hero__image2,
  .hero__image4 {
    margin-top: 2rem;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .hero__text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6rem;
  }
  .hero__header {
    color: #191623;
    font-size: 7.75rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -2.48px;
    text-align: left;
    padding-top: 2rem;
  }
  .hero__text {
    color: #666270;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    padding-top: 2rem;
  }

  /* Hero CTA */
  .hero__cta__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  .hero__cta {
    display: flex;
    column-gap: 4rem;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
  .hero__search__holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    border: 2px solid #d6d4dd;
    margin-left: 2rem;
  }
  .hero__search {
    border: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero__search::placeholder {
    padding: 1rem;
    width: 35rem;
    box-sizing: border-box;
  }
  .search__icon {
    padding-right: 2rem;
  }
  .hero__selector__holder {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    border: 2px solid #d6d4dd;
  }
  .hero__selector {
    border: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
  }
  .dropdown__icon {
    padding-right: 2rem;
  }
  .hero__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fd5d11;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .scroll__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .scroll__down__text {
    color: #666270;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
}

/* *********************
Hero emphasis styles
********************* */
/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .hero__emphasis {
    background: #6637ee;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  /* .hero__emphasis__content {
  } */
  .hero__emphasis__textcontent {
    display: flex;
  }
  .hero__emphasis__header {
    font-size: 3.175rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    margin-left: 1.5rem;
    margin-right: auto;
  }
  .hero__emphasis__bodytext {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
  }
  .body__text1 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    opacity: 0.800000011920929;
  }
  .body__text2 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    opacity: 0.800000011920929;
  }
  .hero__emphasis__showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    column-gap: 6rem;
  }
  .showcase {
    display: flex;
  }
  .showcase__emoji {
    font-size: 3rem;
  }
  .showcase__textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .showcase__figures {
    font-size: 3.075rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .showcase__bodytext {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    opacity: 0.800000011920929;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__emphasis {
    background: #6637ee;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  /* .hero__emphasis__content {
  } */
  .hero__emphasis__textcontent {
    display: flex;
  }
  .hero__emphasis__header {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    margin-left: 3rem;
    margin-right: auto;
  }
  .hero__emphasis__bodytext {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .body__text1 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    opacity: 0.800000011920929;
  }
  .body__text2 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    opacity: 0.800000011920929;
  }
  .hero__emphasis__showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    column-gap: 10rem;
  }
  .showcase {
    display: flex;
  }
  .showcase__emoji {
    font-size: 3rem;
  }
  .showcase__textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .showcase__figures {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .showcase__bodytext {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    opacity: 0.800000011920929;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .hero__emphasis {
    background: #6637ee;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  /* .hero__emphasis__content {
  } */
  .hero__emphasis__textcontent {
    display: flex;
  }
  .hero__emphasis__header {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    margin-left: 5rem;
    margin-right: auto;
  }
  .hero__emphasis__bodytext {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .body__text1 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    opacity: 0.800000011920929;
  }
  .body__text2 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    opacity: 0.800000011920929;
  }
  .hero__emphasis__showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    column-gap: 18rem;
  }
  .showcase {
    display: flex;
  }
  .showcase__emoji {
    font-size: 3rem;
  }
  .showcase__textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .showcase__figures {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .showcase__bodytext {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    opacity: 0.800000011920929;
  }
}
/* *********************
Hero 2 styles
********************* */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .hero__2__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__2__images {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: 3rem;
  }
  .hero2__image1 {
    width: 20.375rem;
    height: 25.375rem;
    flex-shrink: 0;
  }
  .hero2__card {
    width: 11.625rem;
    height: 12.875rem;
    flex-shrink: 0;
    position: absolute;
    right: -20%;
    bottom: 10%;
  }
  .hero__2__textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .hero2__header {
    color: #191623;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .hero2__button {
    background-color: #fd5d11;
    color: #fff;
    font-size: 1.125rem;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__2__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__2__images {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: 3rem;
  }
  .hero2__image1 {
    width: 24.375rem;
    height: 29.375rem;
    flex-shrink: 0;
  }
  .hero2__card {
    width: 12.625rem;
    height: 13.875rem;
    flex-shrink: 0;
    position: absolute;
    right: -20%;
    bottom: 10%;
  }
  .hero__2__textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .hero2__header {
    color: #191623;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .hero2__button {
    background-color: #fd5d11;
    color: #fff;
    font-size: 1.125rem;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .hero__2__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__2__images {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: 7rem;
  }
  .hero2__image1 {
    width: 28.375rem;
    height: 29.375rem;
    flex-shrink: 0;
  }
  .hero2__card {
    width: 13.625rem;
    height: 14.875rem;
    flex-shrink: 0;
    position: absolute;
    right: -20%;
    bottom: 10%;
  }
  .hero__2__textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .hero2__header {
    color: #191623;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .hero2__button {
    background-color: #fd5d11;
    color: #fff;
    font-size: 1.125rem;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }
}

/* *********************
Popular property section styles
********************* */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .popular__property {
    background: linear-gradient(to bottom, #6637ee 65%, #fff 35%);
    color: #fff;
  }
  .popular__property__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .popular__property__header {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    text-align: left;
    margin-left: 9.5rem;
    padding-bottom: 2rem;
  }
  .popular__property__textcontent {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .popular__property__bodytext {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    margin-left: 2rem;
    opacity: 0.800000011920929;
  }
  .navigation__buttons {
    display: flex;
    align-items: center;
    margin-left: 15rem;
  }
  .popular__property__images {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding-bottom: 6rem;
  }
  .popular__property__image3 {
    display: none;
  }
  .popular__property__card {
    flex-direction: column;
  }
  .property__details__holder {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .property__details {
    display: flex;
    flex-direction: column;
    color: #191623;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-right: auto;
  }
  .property__card__currency {
    color: #fd5d11;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 145.455% */
    padding-right: 0.4rem;
  }
  .property__name {
    font-weight: 800;
  }

  .popular__property__extension {
    text-align: center;
    margin-top: 2rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .popular__property {
    background: linear-gradient(to bottom, #6637ee 65%, #fff 35%);
    color: #fff;
  }
  .popular__property__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .popular__property__header {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .popular__property__textcontent {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .popular__property__bodytext {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    margin-left: 25rem;
    opacity: 0.800000011920929;
  }
  .navigation__buttons {
    display: flex;
    align-items: center;
    margin-left: 15rem;
  }
  .popular__property__images {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding-bottom: 6rem;
  }
  .popular__property__image3 {
    display: block;
  }
  .popular__property__card {
    flex-direction: column;
  }
  .property__details__holder {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .property__details {
    display: flex;
    flex-direction: column;
    color: #191623;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-right: auto;
  }
  .property__card__currency {
    color: #fd5d11;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 145.455% */
    padding-right: 0.4rem;
  }
  .property__name {
    font-weight: 800;
  }

  .popular__property__extension {
    text-align: center;
    margin-top: 0rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .popular__property {
    background: linear-gradient(to bottom, #6637ee 65%, #fff 35%);
    color: #fff;
  }
  .popular__property__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .popular__property__header {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .popular__property__textcontent {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .popular__property__bodytext {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    margin-left: 25rem;
    opacity: 0.800000011920929;
  }
  .navigation__buttons {
    display: flex;
    align-items: center;
    margin-left: 15rem;
  }
  .popular__property__images {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding-bottom: 6rem;
  }
  .popular__property__card {
    flex-direction: column;
  }
  .property__details__holder {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .property__details {
    display: flex;
    flex-direction: column;
    color: #191623;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-right: auto;
  }
  .property__card__currency {
    color: #fd5d11;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 145.455% */
    padding-right: 0.4rem;
  }
  .property__name {
    font-weight: 800;
  }

  .popular__property__extension {
    text-align: center;
    margin-top: 2rem;
  }
}

/* *********************
Short Video
********************* */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .short__video__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .short__video__header {
    color: #191623;
    text-align: center;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    padding-bottom: 2rem;
  }
  .short__video__bodytext {
    color: #666270;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    padding-bottom: 2rem;
  }
  .thumbnail {
    max-width: 90%;
  }
}

/* xl */
@media (min-width: 1280px) {
  .short__video__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .short__video__header {
    color: #191623;
    text-align: center;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    padding-bottom: 2rem;
  }
  .short__video__bodytext {
    color: #666270;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    padding-bottom: 2rem;
  }
  .thumbnail {
    max-width: 100%;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .short__video__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .short__video__header {
    color: #191623;
    text-align: center;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
    padding-bottom: 2rem;
  }
  .short__video__bodytext {
    color: #666270;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    padding-bottom: 2rem;
  }
}

/* *********************
Reviews section styles
********************* */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
  .review__container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .review__section {
    background: #191623;
    color: #fff;
  }
  .review__toogle__and__header__contaner {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  .review__header {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.0675rem;
  }
  .review__message__holder {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  .quotes{
    position: relative;
    left: -7%;
  }
  .reviewer__profile {
    display: flex;
    margin-top: 1rem;
  }
  .reviwer__details {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    margin-left: 0.3rem;
  }
}

/* *********************
Media queries
********************* */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
